---
layout: layouts/base.njk
title: Contact | A design reource a day
---

<div class="wrapper bg-slate-100 pb-16">
    <div class="mx-auto w-11/12 max-w-xl bg-slate-100">
        <h2 class="text-xl font-bold pt-16 mb-8 text-center">
            Send me a message
        </h2>
        <p class="text-base font-normal text-center">Feel free to get in touch &#128075; and I will get back to you as soon as possible</p>

        {% include "sections/contact-form.njk" %}
    </div>

</div>