---
layout: layouts/base.njk
title: Home | A Design Resource A Day
---

{% include "sections/hero.html" %}
{% include "sections/current-res.njk" %}
{% include "sections/res-list.njk" %}

<script src="/assets/js/app.js"></script>