{% for card in airtable %}
        
    <li class="card bg-white rounded-md overflow-hidden">
        <a href="{{ card.fields.link }}" target="_blank">
            <img class="card-image w-full h-48 object-cover" src={{card.fields.img[0].url }} alt="Resource Screenshot">
            <div class="content p-6 pt-4">
                <div class="content-header grid items-baseline -mb-2">
                    <div class="chips gap-2 items-start">
                        {% for chip in card.fields.tags %}
                        <button class="chip mb-0" data-attr='{{ chip }}'>{{ chip }}</button>
                        {% endfor %}
                    </div>
                    <p class="text-xs font-light">{{ helpers.changeDateToFriendly(card.fields.date) | safe }}</p>
                </div>
                <div class="content-title pt-4 pb-1">
                    <h3 class="text-base font-semibold">{{ card.fields.title }}</h3>
                </div>
                <div class="content-footer grid items-center">
                    <h5 class="text-sm font-light">{{ card.fields.author }}</h5>
                    <button class="btn btn-icon-only btn-link p-1">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                        </svg>

                    </button>
                </div>
            </div>
        </a>
    </li>
{% endfor %}